.btnoo{
    color: rgb(247, 247, 247) ;
    text-decoration: none;
    
    font-size: 15px;
    border: solid rgb(204, 28, 84) 1px;
    background-color:rgb(204, 28, 84) ;
    border-radius: 60px;
    
    padding: 12px 30px;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  
   
   
     
}

.head{
display: flex;
justify-content: space-around;
align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 100px;
    margin-bottom: 80px;
}
.ert{
  margin-right: 100px;
}
.ett{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  

}
